@font-face {
  font-family: 'icomoon';
  src: url('public_assets/icons/icomoon/fonts/icomoon.eot?624fxz');
  src: url('public_assets/icons/icomoon/fonts/icomoon.eot?624fxz#iefix')
      format('embedded-opentype'),
    url('public_assets/icons/icomoon/fonts/icomoon.ttf?624fxz')
      format('truetype'),
    url('public_assets/icons/icomoon/fonts/icomoon.woff?624fxz') format('woff'),
    url('public_assets/icons/icomoon/fonts/icomoon.svg?624fxz#icomoon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: '\e967';
}
.icon-video-library:before {
  content: '\e968';
}
.icon-visibility:before {
  content: '\e969';
}
.icon-visibility-off:before {
  content: '\e96a';
}
.icon-zap:before {
  content: '\e96b';
}
.icon-zoom-in:before {
  content: '\e96c';
}
.icon-zoom-out:before {
  content: '\e96d';
}
.icon-account-circle:before {
  content: '\e900';
}
.icon-add:before {
  content: '\e90f';
}
.icon-add-call:before {
  content: '\e910';
}
.icon-add-chart:before {
  content: '\e911';
}
.icon-add-circle-outline:before {
  content: '\e912';
}
.icon-alternate-email:before {
  content: '\e913';
}
.icon-announcements:before {
  content: '\e914';
}
.icon-arrow-down-circle:before {
  content: '\e915';
}
.icon-arrow-downward:before {
  content: '\e916';
}
.icon-arrow-up-circle:before {
  content: '\e917';
}
.icon-arrow-upward:before {
  content: '\e918';
}
.icon-assignment:before {
  content: '\e919';
}
.icon-assignment-late:before {
  content: '\e91a';
}
.icon-auto-renew:before {
  content: '\e91b';
}
.icon-avatar-placeholder:before {
  content: '\e91c';
}
.icon-bolt-circle:before {
  content: '\e91d';
}
.icon-bookmark-border:before {
  content: '\e91e';
}
.icon-check-circle:before {
  content: '\e91f';
}
.icon-check-circle-solid:before {
  content: '\e920';
}
.icon-clipboard:before {
  content: '\e921';
}
.icon-close:before {
  content: '\e922';
}
.icon-close-circle:before {
  content: '\e923';
}
.icon-close-solid1:before {
  content: '\e924';
}
.icon-collapse:before {
  content: '\e925';
}
.icon-comment:before {
  content: '\e926';
}
.icon-delete:before {
  content: '\e927';
}
.icon-detect:before {
  content: '\e928';
}
.icon-download:before {
  content: '\e929';
}
.icon-drop-down-arrow:before {
  content: '\e92a';
}
.icon-drop-down-arrow-collapse:before {
  content: '\e92b';
}
.icon-edit:before {
  content: '\e92c';
}
.icon-edit-square:before {
  content: '\e92d';
}
.icon-email:before {
  content: '\e92e';
}
.icon-emergency:before {
  content: '\e92f';
}
.icon-entity:before {
  content: '\e930';
}
.icon-expand:before {
  content: '\e931';
}
.icon-extract:before {
  content: '\e932';
}
.icon-favorite-border:before {
  content: '\e933';
}
.icon-full-screen:before {
  content: '\e934';
}
.icon-grid-view:before {
  content: '\e935';
}
.icon-group:before {
  content: '\e936';
}
.icon-history:before {
  content: '\e937';
}
.icon-home:before {
  content: '\e938';
}
.icon-image-solid:before {
  content: '\e939';
}
.icon-info:before {
  content: '\e93a';
}
.icon-inside-organization:before {
  content: '\e93b';
}
.icon-intent:before {
  content: '\e93c';
}
.icon-keyboard:before {
  content: '\e93d';
}
.icon-link:before {
  content: '\e93e';
}
.icon-lock:before {
  content: '\e93f';
}
.icon-login:before {
  content: '\e940';
}
.icon-message:before {
  content: '\e941';
}
.icon-money-circle:before {
  content: '\e942';
}
.icon-more-horizontal:before {
  content: '\e943';
}
.icon-more-vert:before {
  content: '\e944';
}
.icon-movie:before {
  content: '\e945';
}
.icon-navigate-before:before {
  content: '\e946';
}
.icon-navigate-next:before {
  content: '\e947';
}
.icon-notification:before {
  content: '\e948';
}
.icon-notification-on:before {
  content: '\e949';
}
.icon-outside-organization:before {
  content: '\e94a';
}
.icon-perm-media:before {
  content: '\e94b';
}
.icon-person-pin:before {
  content: '\e94c';
}
.icon-phrase:before {
  content: '\e94d';
}
.icon-preview:before {
  content: '\e94e';
}
.icon-publish:before {
  content: '\e94f';
}
.icon-push-pin:before {
  content: '\e950';
}
.icon-remove:before {
  content: '\e951';
}
.icon-remove-circle-outline:before {
  content: '\e952';
}
.icon-rename:before {
  content: '\e953';
}
.icon-report-problem:before {
  content: '\e954';
}
.icon-save:before {
  content: '\e955';
}
.icon-save-alt:before {
  content: '\e956';
}
.icon-search1:before {
  content: '\e957';
}
.icon-sentiment-dissatisfied:before {
  content: '\e958';
}
.icon-sentiment-extremely-dissatisfied:before {
  content: '\e959';
}
.icon-sentiment-neutral:before {
  content: '\e95a';
}
.icon-sentiment-satisfied:before {
  content: '\e95b';
}
.icon-sentiment-very-satisfied:before {
  content: '\e95c';
}
.icon-settings1:before {
  content: '\e95d';
}
.icon-settings-filled:before {
  content: '\e95e';
}
.icon-share:before {
  content: '\e95f';
}
.icon-shared-slide-solid:before {
  content: '\e960';
}
.icon-star:before {
  content: '\e961';
}
.icon-star-border:before {
  content: '\e962';
}
.icon-star-half:before {
  content: '\e963';
}
.icon-syncing-circle:before {
  content: '\e964';
}
.icon-team:before {
  content: '\e965';
}
.icon-user:before {
  content: '\e966';
}
.icon-settings:before {
  content: '\e901';
}
.icon-report:before {
  content: '\e902';
}
.icon-robot-1:before {
  content: '\e903';
}
.icon-arrow-down:before {
  content: '\e904';
}
.icon-arrow-left:before {
  content: '\e905';
}
.icon-resource:before {
  content: '\e906';
}
.icon-arrow-right:before {
  content: '\e907';
}
.icon-arrow-up:before {
  content: '\e908';
}
.icon-play-arrow:before {
  content: '\e909';
}
.icon-checkmark:before {
  content: '\e90a';
}
.icon-close-solid:before {
  content: '\e90b';
}
.icon-plus-outline:before {
  content: '\e90c';
}
.icon-search:before {
  content: '\e90d';
}
.icon-minus:before {
  content: '\e90e';
}
