$basic-blue: #0085ff;
$primary: #0085ff;
$primary-hover: #0071d9;
$link-color: #1f76c2;
$gainsboro: #e1e1e1;
$snow-white: #fff;
$dark-blue: #0071d9;
$success: #00ca72;
$purple: #a358df;
$error: #e44258;
$private: #f65f7c;
$share: #a358df;
$surface: #292f4c;
$wolf-gray: #c5c7d0;
$mud-black: #323338;
$dark: #323338;
$riverstone-gray: #f5f6f8;
$ui-grey: #e6e9ef;
$asphalt: #676879;
$higlight: #dff0ff;

$theme: (
  "layout-border-color": $ui-grey
);
$theme-var: (
  "layout-border-color": var(--layout-border-color)
);

@mixin theme-prop($property: color, $color-variable: primary-text-color, $important: false) {
  @if $important {
    #{$property}: theme-value-default($color-variable) !important;
    #{$property}: theme-value-var($color-variable) !important;
  } @else {
    #{$property}: theme-value-default($color-variable);
    #{$property}: theme-value-var($color-variable);
  }
}

@function theme-value-default($color-variable: primary-text-color) {
  @return map-get($theme, $color-variable);
}

@function theme-value-var($color-variable: primary-text-color) {
  @return map-get($theme-var, $color-variable);
}
