$h1-font-size: 40px;
$header-primary-font: var(--title-font-family);

@mixin base-font($font-variable) {
  font-family: $font-variable;
  letter-spacing: -1px;
}

@mixin base-bold-font {
  @include base-font(var(--font-bold));
}

@mixin base-normal-font {
  @include base-font(var(--font-normal));
}

.font-h1 {
  @include base-bold-font;
  font-size: 64px;
}

.font-h2 {
  @include base-bold-font;
  font-size: 48px;
}

.font-h3 {
  @include base-bold-font;
  font-size: 32px;
}

@mixin base-big-font-subtitle {
  font-size: 24px;
}

.font-subtitle-h1 {
  @include base-bold-font;
  @include base-big-font-subtitle;
}

.font-subtitle-h2 {
  @include base-normal-font;
  @include base-big-font-subtitle;
}

@mixin base-small-font-subtitle {
  font-size: 18px;
}

.font-subtitle-h3 {
  @include base-bold-font;
  @include base-small-font-subtitle;
}

.font-subtitle-h4 {
  @include base-normal-font;
  @include base-small-font-subtitle;
}

@mixin base-big-font-body {
  font-size: 16px;
}

.font-body-h1 {
  @include base-bold-font;
  @include base-big-font-body;
}

.font-body-h2 {
  @include base-normal-font;
  @include base-big-font-body;
}

@mixin base-medium-font-body {
  font-size: 14px;
}

.font-body-h3 {
  @include base-bold-font;
  @include base-medium-font-body;
}

.font-body-h4 {
  @include base-normal-font;
  @include base-medium-font-body;
}

@mixin base-small-font-body {
  font-size: 12px;
}

.font-body-h5 {
  @include base-bold-font;
  @include base-small-font-body;
}

.font-body-h6 {
  @include base-normal-font;
  @include base-small-font-body;
}