.uniphore-default-theme {
    --font-h1: Poppins-Bold;
    --uniphore-font-family: Poppins-Regular;
    --font-bold: Poppins-Bold;
    --font-normal: Poppins-Regular;

    --uniphore-primary-button-background-color: var(--active-blue-color);
    --uniphore-primary-hover-color: #3381DE;
    --uniphore-secondary-hover-background-color: #AFD5FF;
    --uniphore-secondary-active-background-color: #99C0EF;
}
